*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Garamond, serif;
    font-size: 10px;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color .10s ease;
    z-index: 1000;
}

.container{
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}


.nav{
    width: 100%;
    height: 13rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255,255,255,.05);
    transition: height .5s ease;
}

.nav a{
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
}

.nav .logo{
    font-size: 3.5rem;
    font-weight: bold;
}

.nav-list{
    list-style: none;
    display: flex;
    margin-right: auto;
    margin-left: 4rem;
}

.nav-link{
    margin: 0 2rem;
    position: relative;
}

.nav-link::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
}

.nav-link:hover::after{
    transform: scaleX(1);
}

#nav-cta{
    display: inline-block;
    background-color: #fff;
    color: #313131;
    padding: 1rem 2rem;
    border-radius: 2rem;
    transition: background-color .5s ease;
}

#nav-cta:hover{
    background-color: #d3d3d3;
}


/*Apply styles after scroll*/
.scrolling-active{
    background-color: #3DCBB4;
  background-image: url("leaves.png");
    box-shadow: 0 8px 1rem rgba(0,0,0,.1);
}

.scrolling-active .nav{
    height: 10rem;
}

.scrolling-active .nav a{
    color: #fff;
}

.scrolling-active #nav-cta{
    background-color: #313131;
    color: #fff;
}

.scrolling-active #nav-cta:hover{
    background-color: #151515;
}

.scrolling-active .nav-link::after{
    background-color: #fff;
}

/*Apply styles after scroll end*/


/* Hero Demo Content*/
.hero{
float: left;
    width: 50%;
    height: 50vh;
    background: url("tac.gif") center no-repeat;
    background-size: cover;
    position: relative;
}
.herotwo{
float: right;
    width: 50%;
    height: 50vh;
    background: url("code.gif");
    background-size: cover;
    background-repeat: no-repeat;
}



}
<!--middle text-->
* {
  box-sizing:border-box;
}



body {

  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

   background: url("op2.png");


}



.row:after {
  content: "";
  display: table;
  clear: both
}

.column-66 {
   border: 10px hidden #3DCBB4; padding:1em;
  float: left;
  width: 66.66666%;
  padding: 20px;
}

.column-33 {
  float: right;
  width: 33.33333%;
  padding: 20px;

}

.large-font {
  font-size: 48px;
}

.xlarge-font {
  font-size: 64px
}


img {
  display: block;
  height: auto;
  max-width: 120%;
  width: auto\9;
margin-right: -70em;
   border: 10px inset #3DCBB4; padding:1em;

}


@media screen and (max-width: 1000px) {
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }
  img {
margin-right: -70em;
  }
}


<--!Footer CSS-->

.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  background-position: right bottom;

  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}
